IDI_ICON1 ICON DISCARDABLE "gadgets.ico"
VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS 0x1L
#else
	FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Application\0"
            VALUE "FileDescription", "QDeskGadgets\0"
            VALUE "FileVersion", "0.0.0.1\0"
            VALUE "InternalName", "Гаджеты рабочего стола\0"
            VALUE "LegalCopyright", "Haos Soft (C) 2011\0"
            VALUE "OriginalFilename", "QDeskGadgets.exe\0"
            VALUE "ProductName", "Гаджеты рабочего стола\0"
            VALUE "ProductVersion", "0.0.0.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END